<div class="container-lead flex-between">
	<div class="breadcrumb">/ <span class="active-page"><%= link_to 'HOME', home_path %> </span></div>
	<div class="buttons">
		<div><%= link_to 'Go to Website', root_path, class: "btn btn-blue" %></div>
	</div>
</div>

<div class="container-new">
	<div class="content"><h1><%= current_user.login %>, welcome back!</h1></div>
	<div class="card">
		<div class="card-title">
			Link Tree
		</div>
		<div class="card-body">
			<div class="card-buttons"><%= link_to "Visit Rooms", rooms_path, class: "btn btn-blue" %></div>
			<div class="card-buttons"><%= link_to "See Users", users_path, class: "btn btn-blue" %></div>
			<div class="card-buttons"><%= link_to "My User", edit_user_path(current_user), class: "btn btn-blue" %></div>
		</div>
	</div>
	<br>
	<hr>
	<br>
	<div class="card">
		<div class="card-title">
			Stats
		</div>
		<div class="card-body">
			<h3><%= @reservations.count %> Active Reservations</h3>
			<% if @reservations.empty? %>
				<h3>No upcoming reservations</h3>
			<% else %>
				<h3>Next Reservations:</h3>
				<ul>
					<% @reservations.limit(5).each do |res| %>
					<li style="text-align: left;">
                    	In <%= distance_of_time_in_words(res.starts_at, Time.now) %> at <%= link_to res.room.name, edit_room_path(res.room) %>.
					</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>


	
</div>