<%= form_with(url: search_room_path, method: "get") do |form| %>   
<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="field">
  <%= form.label :capacity %>
  <%= form.number_field :capacity  %>
</div>
<div class="field">
  <%= form.label :room_type %>
  <%= form.select :room_type, options_for_select(Room.room_types.map {|name, id| [name.capitalize, name]}) %>
</div>
<div class="form-buttons">
  <%= form.submit "Search", {class: "submit-button btn btn-blue"} %>
  <button class="clear-filter btn">Clear Filter</button>
</div>
<% end %>