<%= form_with(url: search_room_path, method: "get") do |form| %>   
<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="field">
  <%= form.label :capacity %>
  <%= form.number_field :capacity  %>
</div>
<div class="field">
  <%= form.label :room_type %>
  <%= form.select :room_type, options_for_select(Room.room_types.map {|name, id| [name.capitalize, name]}) %>
</div>
<div class="field">
  <%= form.label :status %>
  <%= form.select :status, options_for_select(Room.statuses.map {|name, id| [name.capitalize, name]}) %>
</div>  
<div class="field">
  <%= form.label :campus_id %>
  <%= form.select :campus_id, options_for_select(Campus.all.order(:name).map {|c| [c.name.capitalize, c.id]}, selected: 23) %>
</div>

<div class="form-buttons">
  <%= form.submit "Search", {class: "submit-button btn btn-blue"} %>
  <button class="clear-filter btn">Clear Filter</button>
</div>
<% end %>