<div class="container-lead flex-between">
	<div class="breadcrumb">/ <%= link_to 'HOME', home_path %> / <%= link_to 'ROOMS', rooms_path %> / <span class="active-page"><%= link_to @room.name, edit_room_path(@room) %> </span></div>
	<div class="buttons">
		<div class="btn btn-blue"><%= link_to 'Delete', room_path(@room), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this room?"} %></div>
	</div>
</div>
<div class="container-body">
	<div class="filters">
		<div class="card">
			<h3 class="card-title">White List</h3>
			<div class="card-body center">
				<ul>
					<% @room.white_lists.order(created_at: :desc).limit(3).each do |elem| %>
						<% if elem.persisted? %>
							<li class="flex-between">
								<%= link_to elem.user, edit_user_path(elem.user), class: "btn" %>
								<span class="remove-user">
									<%= link_to 'Remove', room_white_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn btn-danger" %>
								</span>
							</li>
						<% end %>
					<% end %>
					<% if @room.white_lists.all.length > 3 %>
						<details style="text-align: center;">
							<summary>Show all (<%= @room.white_lists.all.length - 3 %> more)</summary>
							<% @room.white_lists.order(created_at: :desc).offset(3).each do |elem| %>
								<% if elem.persisted? %>
									<li class="flex-between">
										<%= link_to elem.user, edit_user_path(elem.user), class: "btn" %>
										<span class="remove-user">
											<%= link_to 'Remove', room_white_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn btn-danger" %>
										</span>
									</li>
								<% end %>
							<% end %>
						</details>
					<% end %>
				</ul>
				<%= render 'white_list_form' %>
			</div>
		</div>
		<div class="card card-dark">
			<h3 class="card-title">Black List</h3>
			<div class="card-body center">
				<ul>
					<% @room.black_lists.order(created_at: :desc).limit(3).each do |elem| %>
						<% if elem.persisted? %>
							<li class="flex-between">
								<%= link_to elem.user, edit_user_path(elem.user), class: "btn" %>
								<span class="remove-user">
									<%= link_to 'Remove', room_black_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn btn-danger" %>
								</span>
							</li>
						<% end %>
					<% end %>
					<% if @room.black_lists.all.length > 3 %>
						<details style="text-align: center;">
							<summary>Show all (<%= @room.black_lists.all.length - 3 %> more)</summary>
							<% @room.black_lists.order(created_at: :desc).offset(3).each do |elem| %>
								<% if elem.persisted? %>
									<li class="flex-between">
										<%= link_to elem.user, edit_user_path(elem.user), class: "btn" %>
										<span class="remove-user">
											<%= link_to 'Remove', room_black_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn btn-danger" %>
										</span>
									</li>
								<% end %>
							<% end %>
						</details>
					<% end %>
				</ul>
				<%= render 'black_list_form' %>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="squeeze-table text-secondary">
			<h3 class="center text-secondary">Edit Room</h3>
			<%= render 'room_form', room: @room %>
			<div style="margin: auto; max-width: 500px;">
				<br>
				<hr>
				<h4 style="text-align: center; text-decoration: underline;">Info/Tips</h4>
				<h5>
					Room Types
					<ul>
						<li>Normal Room: Anyone can schedule a meeting</li>
						<li>Club Room: &nbsp&nbsp&nbsp Anyone can schedule idealy a club member</li>
						<li>Staff Room: &nbsp&nbsp&nbsp Only staff and admin users can schedule this room, an admin can add users to the whitelist</li>
					</ul>
					Rules
					<ul>
						<li>Users on the black list can't schedule meetings</li>
						<li>Users on the white list can schedule meeting without restrictons</li>
						<li>TODO: Normal Users can only schedule two rooms at the same time, and a max of 2 hrs per room</li>
						<li>TODO: A User with banned status can't schedule anything</li>
					</ul>
					<p>You can use the actions to upload files and update multiple userrs/rooms</p>
					<p>Click the button <%= link_to 'Show all', edit_room_path(@room, all: true), class: "text-secondary" %> to see all the hystory of reservations.</p>
				</h5>
				<hr>
			</div>
			<h5 class="resources" style="text-align: center;">
				<div class="downloads">Actions: <%= link_to "CSV", {}, {class: "btn btn-blue"} %> <%= link_to "JSON", {}, {class: "btn btn-blue"} %> <%= link_to "XML", {}, {class: "btn btn-blue"} %>
					<button class="btn btn-danger" style="position: relative; border-radius: 50%; width: 40px; height: 40px;"><span style="position: absolute; font-size: 25px; top: 50%; left: 50%; transform: translate(-50%, -50%);">?</span></button>
				</div>
			</h5>
		</div>
	</div>
</div>
<div class="container-body">
	<div class="filters">
		<div class="card">
			<h3 class="card-title">Reservations</h3>
			<div class="card-body">
				<div class="card-buttons">
					<%= link_to 'Show all', edit_room_path(@room, all: true), class: "btn btn-blue" %>
					<%= link_to 'New Reservation', room_calendar_path(@room), class: "btn btn-blue" %>
				</div>
			</div>
		</div>
	</div>
	<%= render 'reservations_layout', reservations: @reservations, title: @room.name, first: @first, last: @last, total: @total, option: 1 %>
</div>