<div class="d-between p2">
	<p class="text-secondary">/ <%= link_to 'HOME', home_path %> / <%= link_to 'ROOMS', rooms_path %> / <%= link_to @room.name, edit_room_path(@room) %> </p>
</div>
<div class="center d-around wrap">
	<div class="card card-white card-80">
		<h3 class="text-secondary card-subtitle">Edit Room</h3>
		<div class="card-form">
			<%= render 'room_form', room: @room %>
		</div>
		<div class="card-body mt-2 hoverable">
			<details class="p1 card-md text-secondary">
				<summary><h4 style="display: inline; text-decoration: underline;" class="text-dark">Info/Tips</h4></summary>
					<p class="text-secondary">At any point a user can be added to the black/white list, and this will prevent/allow the user from using the room.<br>Admin user can do anything in the application without restrictions, as long as it's a valid action.<br>Admins can belong to a white/black list if they wish to do so...<br>Staff42 will be automatically added to all the white lists of all rooms, so they will have access to all rooms.<br>User42 will be automatically aded to all the white lists of normal rooms, this way normal users will be able to schedule in normal rooms.<br>Other Users will not be added to any list automatically, an admin should add them if it's intended.</p>
					<h4 class="text-dark">Restrctions</h4>
					<p>Blocked users will be restricted from accessing any rooms, or actions on the application. They will only have access to the main page.</p>
					<p>Hidden rooms are still visible through their url, but they will not show on the home page.<br>Inactive rooms will not be available and they will not allow any schedules.<br>Both Inactive and Hidden rooms will not throw results on the home menu fast schedule search engine.</p>
					<h4 class="text-dark">Rules</h4>
					<ul>
						<li>Users on the black list can't schedule meetings</li>
						<li>Users on the white list can schedule meeting without restrictons</li>
						<li>TODO: Normal Users can only schedule two rooms at the same time, and a max of 2 hrs per room</li>
						<li>TODO: A User with banned status can't schedule anything</li>
					</ul>
					<p>You can use the actions to upload files and update multiple users/rooms</p>
					<p>Click the button <%= link_to 'Show all', edit_room_path(@room, all: true), class: "text-secondary" %> to see all the history of reservations.</p>
					<hr>
					<h5 class="resources" style="text-align: center;">
					<button class="btn btn-danger center" style="position: relative; border-radius: 50%; width: 40px; height: 40px;"><span style="position: absolute; font-size: 25px; top: 50%; left: 50%; transform: translate(-50%, -50%);">?</span></button>
					</h5>
			</details>
		</div>
	</div>
	<div class="card card-20 center scrollable p0">
		<div class="p2">
			<p class="card-subtitle text-light bg-gray">White List</p>
			<div class="card-body p1 card-white">
				<% @room.white_lists.order(created_at: :desc).limit(3).each do |elem| %>
				<% if elem.persisted? %>
				<p class="d-between m0 p3">
					<%= link_to elem.user, edit_user_path(elem.user), class: "btn-sm hoverable text-secondary" %>
					<%= link_to 'Remove', room_white_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn-sm btn-red" %>
				</p>
				<% end %>
				<% end %>
				<% if @room.white_lists.all.length > 3 %>
				<details>
					<summary class="hoverable btn">Show all (<%= @room.white_lists.all.length - 3 %> more)</summary>
					<% @room.white_lists.order(created_at: :desc).offset(3).each do |elem| %>
					<% if elem.persisted? %>
					<p class="d-between m0 p3">
						<%= link_to elem.user, edit_user_path(elem.user), class: "btn-sm hoverable text-secondary" %>
						<%= link_to 'Remove', room_white_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn-sm btn-red" %>
					</p>
					<% end %>
					<% end %>
				</details>
				<% end %>
				<hr>
				<div class="card-form">
					<%= render 'white_list_form' %>
				</div>
				<button class="btn-sm btn-blue mt-1" onclick= "csv_form('white')"> CSV / JSON </button>
			</div>
		</div>
		<div class="p2">
			<p class="card-subtitle text-light bg-dark">Black List</p>
			<div class="card-body p1 card-white">
				<% @room.black_lists.order(created_at: :desc).limit(3).each do |elem| %>
				<% if elem.persisted? %>
				<p class="d-between m0 p3">
					<%= link_to elem.user, edit_user_path(elem.user), class: "btn-sm hoverable text-secondary" %>
					<%= link_to 'Remove', room_black_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn-sm btn-red" %>
				</p>
				<% end %>
				<% end %>
				<% if @room.black_lists.all.length > 3 %>
				<details>
					<summary class="hoverable btn">Show all (<%= @room.black_lists.all.length - 3 %> more)</summary>
					<% @room.black_lists.order(created_at: :desc).offset(3).each do |elem| %>
					<% if elem.persisted? %>
					<p class="d-between m0 p3">
						<%= link_to elem.user, edit_user_path(elem.user), class: "btn-sm hoverable text-secondary" %>
						<%= link_to 'Remove', room_black_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn-sm btn-red" %>
					</p>
					<% end %>
					<% end %>
				</details>
				<% end %>
				<hr>
				<div class="card-form">
					<%= render 'black_list_form' %>
				</div>
				<button class="btn-sm btn-blue mt-1" onclick= "csv_form('white')"> CSV / JSON </button>
			</div>
		</div>
	</div>
</div>

<div class="center d-around wrap mt-1">
	<div class="card card-white card-80">
		<p class="card-subtitle">Reservations</p>
		<div class="p2"><%= render 'reservations_layout', reservations: @reservations, title: @room.name, first: @first, last: @last, total: @total, option: 1 %></div>
	</div>
	<div class="card card-20 center">
		<div class="card-body d-around">
			<%= link_to 'Show all', edit_room_path(@room, all: true), class: "btn btn-green" %>
			<%= link_to 'New Reservation', room_calendar_path(@room), class: "btn btn-blue" %>
		</div>
	</div>
</div>

<span id="curtain" onclick="close_form()"></span>
<div id="csv-form">
	<%= form_with id: "file_form", method: :post do |form| %>
		<%= form.file_field :file %>
		<%= form.submit "Import" %>
	<% end %>
</div>

<script>
function close_form() {
    $("#curtain").css("display", "none");
    $("#csv-form").css("display", "none");
}

function csv_form(option) {
	$("#curtain").css("display", "flex");
	$("#csv-form").css("display", "inline-block");
	if (option === "white") {
		$("#file_form").attr("action", "import_users_to_whitelist")
    } else if (option === "black") {
		$("#file_form").attr("action", "import_users_to_blacklist")
    }
}
</script>