<div class="container-lead flex-between">
	<div class="breadcrumb">/ <%= link_to 'HOME', home_path %> / <%= link_to 'ROOMS', rooms_path %> / <span class="active-page"><%= link_to @room.name, edit_room_path(@room) %> </span></div>
	<div class="buttons">
		<div class="btn btn-blue"><%= link_to 'Delete', room_path(@room), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this room?"} %></div>
	</div>
</div>
<div class="container-body">
	<div class="filters">
		<div class="card">
			<h3 class="card-title">White List</h3>
			<div class="card-body" style="text-align: center;">
				<ul>
					<% @room.white_lists.order(created_at: :desc).limit(3).each do |elem| %>
						<% if elem.persisted? %>
							<li class="flex-between">
								<%= link_to elem.user, edit_user_path(elem.user), class: "btn" %>
								<span class="remove-user">
									<%= link_to 'Remove', room_white_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn btn-danger" %>
								</span>
							</li>
						<% end %>
					<% end %>
					<% if @room.white_lists.all.length > 3 %>
						<details style="text-align: center;">
							<summary>Show all (<%= @room.white_lists.all.length - 3 %> more)</summary>
							<% @room.white_lists.order(created_at: :desc).offset(3).each do |elem| %>
								<% if elem.persisted? %>
									<li class="flex-between">
										<%= link_to elem.user, edit_user_path(elem.user), class: "btn" %>
										<span class="remove-user">
											<%= link_to 'Remove', room_white_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to ban this user?"}, class: "btn btn-danger" %>
										</span>
									</li>
								<% end %>
							<% end %>
						</details>
					<% end %>
				</ul>
				<%= render 'white_list_form' %>
			</div>
		</div>
		<div class="card card-dark">
			<h3 class="card-title">Black List</h3>
			<div class="card-body">
				<ul>
					<% @room.white_lists.each do |elem| %>
						<% if elem.persisted? %>
							<li class="flex-between"><%= link_to elem.user, edit_user_path(elem.user) %> <span class="remove-user"><%= link_to 'Remove', room_white_list_path(@room, elem), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to unban this user?"}, class: "btn btn-danger" %></span></li>
						<% end %>
					<% end %>
				</ul>
				<%= render 'white_list_form' %>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="squeeze-table">
			<%= render 'room_form', room: @room %>
			<h5 class="resources" style="text-align: center;">
				<hr>
				<div class="downloads">Actions: <%= link_to "CSV", {}, {class: "btn btn-blue"} %> <%= link_to "JSON", {}, {class: "btn btn-blue"} %> <%= link_to "XML", {}, {class: "btn btn-blue"} %>
					<button class="btn btn-danger" style="position: relative; border-radius: 50%; width: 40px; height: 40px;"><span style="position: absolute; font-size: 25px; top: 50%; left: 50%; transform: translate(-50%, -50%);">?</span></button>
				</div>
			</h5>
		</div>
	</div>
</div>
<div class="container-body">
	<div class="filters">
		<div class="card">
			<h3 class="card-title">Reservations</h3>
			<div class="card-body">
				<div class="card-buttons">
					<%= link_to 'Show all', edit_room_path(@room, all: true), class: "btn btn-blue" %>
					<%= link_to 'New Reservation', room_calendar_path(@room), class: "btn btn-blue" %>
				</div>
			</div>
		</div>
	</div>
	<%= render 'reservations_layout', reservations: @reservations, title: @room.name, first: @first, last: @last, total: @total, option: 1 %>
</div>