<div class="container-lead flex-between">
	<div class="breadcrumb">/ <%= link_to 'HOME', home_path %> / <%= link_to 'ROOMS', rooms_path %> / <span class="active-page"><%= link_to 'NEW', new_room_path %> </span></div>
	<div class="buttons">
		<div><%= link_to 'New Room', new_room_path, class: "btn btn-blue" %></div>
	</div>
</div>
<div class="container-new">
	<div class="content"><h1>New Room</h1></div>
	<%= render 'room_form', room: @room %>
</div>