<div class="hoverable d-around p2">
	<p class="text-secondary">/ <%= link_to 'HOME', home_path %> / <%= link_to 'ROOMS', rooms_path %> / <%= link_to 'NEW', new_room_path %> </p>
	<%= link_to 'New Room', new_room_path, class: "btn btn-blue" %>
</div>
<div class="card center card-sm">
	<div class="card-title"><h6 class="mt-1 mb-1">New Room</h6></div>
	<div class="card-form"><%= render 'room_form', room: @room %></div>
</div>