<%= form_with(url: find_reservation_path, method: "get") do |form| %>   
<div class="field">
  <%= form.label :starts_at %>
  <%= form.datetime_field :starts_at, {class: "date-input", value: params['starts_at']} %>
</div>
<div class="field">
  <%= form.label :ends_at %>
  <%= form.datetime_field :ends_at, {class: "date-input", value: params['ends_at']} %>
</div>
<div class="form-buttons">
  <%= form.submit "Search", {class: "submit-button btn"} %>
</div>
<% end %>
