<%= form_with(url: find_reservation_path, method: "get") do |form| %>   
<div class="field" style="display: inline-block; padding: 0 0.5rem;">
  <%= form.label :starts_at, 'from' %>
  <%= form.datetime_field :starts_at, {class: "date-input", value: params['starts_at']} %>
</div>
<div class="field" style="display: inline-block; padding: 0 0.5rem;">
  <%= form.label :ends_at, 'to' %>
  <%= form.datetime_field :ends_at, {class: "date-input", value: params['ends_at']} %>
</div>
<div class="form-buttons">
  <%= form.submit "Search", {class: "submit-button btn"} %>
</div>
<% end %>
