<div class="container-body">
    <div class="card card-animation">
        <article class="card-body hoverable center">
            <h2><%=@room.name%></h2>
            <details><summary>More info</summary>
                <h4>Capacity: <%=@room.capacity%><br>Description: <%=@room.description%></h4>
                <% @room.reservations.active.order(starts_at: :asc).each do |res| %><ul><li><%= res %></li></ul><% end %> 
            </details>
        </article>
    </div>
    <div class="calendar-container">
        <div class="calendar">
            <%= week_calendar(attribute: :starts_at, events: @room.reservations.active) do |date, reservations| %>
                <table class="reservations-slots">
                    <tbody>
                    <% (0..60).each do |t| %>
                        <% _t = Time.new(date.year, date.month, date.day,  8 + (t / 4 - 1), (t) * 15 % 60) %>
                        <tr>
                          <th>
                            <% reservations.each do |reservation| %>
                              <% if reservation.starts_at >= _t && reservation.starts_at < _t + 15.minutes%>
                                <span class="slot slot_<%= ((reservation.ends_at - reservation.starts_at) / 60).to_i %> <%= reservation.subject %>">
                                    <%= link_to reservation_path(reservation) do %>
                                        <%= reservation.starts_at.strftime("%H:%M") %> - <%= reservation.ends_at.strftime("%H:%M") %>
                                    <% end %>
                                </span>
                              <% end %>
                            <% end %>
                            <% if _t - 1.hour > Time.zone.now + 15.minutes%>
                                <span class="add-reservation-button">
                                    <button onclick="create_reservation('<%= (_t - 1.hour).strftime("%Y-%m-%dT%H:%M") %>', '<%= (_t).strftime("%Y-%m-%dT%H:%M") %>')">
                                       +
                                    </button>
                                </span>
                            <% else %>
                                <span class="past"></span>
                            <% end %>
                          </th>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            <% end %>
        </div>
    </div>
</div>
<div id="reservation-form"></div>
<script>
function create_reservation(starts_at, ends_at) {
    $("#reservation-form").html("<%= j render 'new_reservation' %>");
    $("#reservation_starts_at").val(starts_at);
    $("#reservation_ends_at").val(ends_at);
    $("#reservation-form").css("display", "flex");
    var close = $('<button/>',
    {
        text: 'X',
        click: function () {
            $("#reservation-form").css("display", "none");
        }
    });
    close.addClass("close-form");
    $("#reservation-form").append(close);
}
</script>
