<div class="container-body">
    <section class="rooms-cards">
        <% if current_user %><div class="campus-card hoverable"><h1>Welcome <%= current_user.login %></h1><h2><%= current_user.campus %></h2><hr></div><% end %>
        <div class="calendar-container card">
            <div class="calendar card-body">
                <div class="match-form"><%= render 'search_room_form'%></div>
                <div class="results"><%= render 'best_results' %></div>
            </div>
        </div>
        <% @rooms.each do |room| %>
            <article class="room-card hoverable">
                <%= link_to room_calendar_path(room), class: "flex-separator" do %>
                    <span class="info">
                        <h2><%=room.name%></h2><h4>Capacity: <%=room.capacity%> - <%=room.description%></h4>
                    </span>
                    <div class="info">
                        <h5>Next Meetings:</h5>
                        <% if room.reservations.active.order(:starts_at).any? %>
                            <% room.reservations.active.order(:starts_at).limit(3).each do |r| %>
                                <h6>In <%= distance_of_time_in_words(r.starts_at, Time.now) %>.</h6>
                            <% end %>
                        <% else %>
                            <h6>- No info -</h6>
                        <% end %>
                    </div>
                <% end %>
                <details>
                    <summary>Show Reservations (<%= room.reservations.active.all.count %>)</summary>
                    <% room.reservations.active.order(starts_at: :asc).each do |res| %>
                        <ul><li><%= res %></li></ul>
                    <% end %> 
                </details>
            </article>
            <hr>
        <% end %>
    </section>
</div>