<div class="container-body">
    <!--* WELCOME CARD 42 ROOMS *-->
    <div class="card hoverable center">
        <% if current_user %>
        <h1 class="card-title">Welcome <%= current_user.login %></h1><h2 class="card-body"><%= current_user.campus %></h2>
        <% end %>
    </div>
    <!--* END WELCOME CARD*-->

    <!--* FORM SCHEDULE CARD 42 ROOMS *-->
    <div class="card card-md center">
        <section class="rotating-text">
            <h2 class="rotating-text-item">Schedule 📅</h2>
            <h2 class="rotating-text-item">Agendar  📅</h2>
            <h2 class="rotating-text-item">Reservar 📅</h2>
            <h2 class="rotating-text-item">Reserver 📅</h2>
            <h2 class="rotating-text-item"><span class="card-title">Schedule</span> 📅</h2>
        </section>
        <div class="container-form hoverable card-sm">
            <%= form_with(url: find_reservation_path, method: "get") do |form| %>   
            <div class="form-item d-between">
              <%= form.label :starts_at, 'Choose a date' %>
              <%= form.datetime_field :starts_at, {min: Time.zone.now + 15.minutes, value: (Time.zone.now + 30.minutes).strftime("%Y-%m-%dT%T"), class: "date-input"} %>
            </div>
            <div class="form-item d-between">
              <%= form.label :ends_at, 'Select the duration' %>
              <%= form.datetime_field :ends_at, {class: "date-input", value: params['ends_at']} %>
            </div>
            <div class="form-item d-between">
                <label for="cap">Capacity</label>
                <input type="number" id="cap" name="capacity" placeholder="1">
            </div>
            <div class="form-buttons">
              <%= form.submit "Search", {class: "btn hoverable"} %>
            </div>
            <% end %>
        </div>
        <div id="founded-reservations"><%= render 'founded_rooms', matches: @match_reservations %></div>
    </div>
    <!--* END FORM SCHEDULE CARD *-->

    <!--* ROOMS CONTAINER 42 ROOMS*-->
    <% @rooms.each do |room| %>
        <article class="room-card hoverable">
            <%= link_to room_calendar_path(room), class: "flex-separator" do %>
                <span class="info">
                    <h2><%=room.name%></h2><h4>Capacity: <%=room.capacity%> - <%=room.description%></h4>
                </span>
                <div class="info">
                    <h5>Next Meetings:</h5>
                    <% if room.reservations.active.order(:starts_at).any? %>
                        <% room.reservations.active.order(:starts_at).limit(3).each do |r| %>
                            <h6>In <%= distance_of_time_in_words(r.starts_at, Time.zone.now) %>.</h6>
                        <% end %>
                    <% else %>
                        <h6>- No info -</h6>
                    <% end %>
                </div>
            <% end %>
            <details>
                <summary>Show Reservations (<%= room.reservations.active.all.count %>)</summary>
                <% room.reservations.active.order(starts_at: :asc).each do |res| %>
                    <ul><li><%= res %></li></ul>
                <% end %> 
            </details>
        </article>
        <hr>
    <% end %>
    <!--* END ROOMS CONTAINER *-->

</div>