<div class="rooms-centered">
    <section class="rooms-cards">
        <% if current_user %>
            <div class="campus-card"><h1><%= current_user.campus %></h1></div>
        <% end %>
        <% @rooms.each do |room| %>
            <article class="room-card-small">
                <%= image_tag '42Lisboa' if room.campus.name == "Lisboa"%>
                <%= link_to room_path(room) do %><h2><%=room.name%></h2><h4>Capacity: <%=room.capacity%> - <%=room.description%></h4><% end %>
                <details>
                    <summary>Show Reservations (<%= room.reservations.all.count %>)</summary>
                    <% room.reservations.order(starts_at: :asc).each do |res| %>
                        <ul><li><%= res %></li></ul>
                    <% end %> 
                </details>
            </article>
        <% end %>
    </section>
</div>