<%= form_with(url: search_user_path, method: "get") do |form| %>   
<div class="field">
  <%= form.label :login %>
  <%= form.text_field :login %>
</div>
<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email  %>
</div>
<div class="field">
  <%= form.label :role %>
  <%= form.select :role, options_for_select(User.roles.map {|name, id| [name.capitalize, name]}) %>
</div>
<div class="field">
  <%= form.label :campus_id %>
  <%= form.select :campus_id, options_for_select(Campus.all.order(:name).map {|c| [c.name.capitalize, c.id]}, selected: 23) %>
</div>
<div class="form-buttons">
  <%= form.submit "Search", {class: "submit-button btn btn-blue"} %>
  <button class="clear-filter btn">Clear Filter</button>
</div>
<% end %>