<div class="hoverable d-around p2">
	<p class="text-secondary">/ <%= link_to 'HOME', home_path %> / <%= link_to 'USERS', users_path %> </p>
	<%= link_to 'New User', new_user_path, class: "btn btn-blue" %>
</div>


<div class="center m-auto p1">
	<!-- <div class="filters">
		<div class="card">
			<p class="card-title">Filters</p>
			<div class="card-body">
				<= render 'users_filter' >
			</div>
		</div>
	</div> -->
	<div class="card card-white card-md">
		<div class="p1">
			<% if @users.empty? %>
				<h2>No Rooms, create a Room with the button <%= link_to 'New Room', new_room_path, class: "btn btn-blue" %></h2>
			<% else %>
				<h5>
					<button class="btn" data-controller="hello" data-action="change->hello#items_per_page">
						Items per page
						<input type="text" name="items" id="items_per_page" placeholder="0">
					</button>
				</h5>
				<%= render 'users_table', users: @users %>
				<div class="pagination">
					<%= link_to "Prev", users_path(page: @page - 1, limit: @limit), class: "control" unless @page <= 1%>
					<%= link_to "Prev", users_path(page: @page, limit: @limit), class: "control" if @page <= 1%>
					<% get_middle((1..(@total.to_f / @limit.to_f).ceil), 4, @page).each do |n| %>
						<% if n == @page %>
							<%= link_to n, users_path(page: n, limit: @limit), class: "page active" %>
						<% else %>
							<%= link_to n, users_path(page: n, limit: @limit), class: "page" %>
						<% end %>
					<% end %>
					<%= link_to "Next", users_path(page: @page + 1, limit: @limit), class: "control" unless @last >= @total %>
					<%= link_to "Next", users_path(page: @page, limit: @limit), class: "control" if @last >= @total %>
				</div>
				<div class="right">
					<h6 class="text-secondary-light m0">Displaying <span class="text-dark bold"><%= @first %> - <%= @last %></span> of <span class="text-dark bold"> <%= @total %> </span> in total</h6>
				</div>
			<% end %>
		</div>
	</div>



</div>
<span id="curtain" onclick="close_form()"></span>
<div id="csv-form">
	<%= form_with url: "import_users", method: :post do |form| %>
		<%= form.file_field :file %>
		<%= form.submit "Import" %>
	<% end %>
</div>

<script>
function close_form() {
    $("#curtain").css("display", "none");
    $("#csv-form").css("display", "none");
}

function csv_form() {
    $("#curtain").css("display", "flex");
    $("#csv-form").css("display", "inline-block");

    // $("#reservation_ends_at").val(ends_at);
    // $("#reservation-form").css("display", "flex");
    // var close = $('<button/>',
    // {
    //     text: 'X',
    //     click: function () {
    //         $("#reservation-form").css("display", "none");
    //     }
    // });
    // close.addClass("close-form");
    // $("#reservation-form").append(close);
}
</script>