<!DOCTYPE html>
<html>
  <head>
    <title>Rooms42</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="description" content="Room Manager for 42Lisboa">
    <meta name="keywords" content="42Rooms, RoR, Ruby, Ruby on Rails, RoomsManager">
    <meta name="author" content="pulgamecanica">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="admin-body">
    <nav id="admin-navbar" class="flex-around">
      <%= link_to root_path do %>
        <%= render "partials/coin_api42" %>
      <% end %>
      <%= link_to home_path do %><%= render 'partials/admin' %><% end %>
      <%= link_to "Rooms", rooms_path %>
      <%= link_to "Users", users_path %>
    </nav>
    <% if !alert.nil? || !notice.nil? %>
      <span class="admin-alerts">
        <span><%= notice %></span>
        <span><%= alert %></span>
      </span>
    <% end %>
    <div id="admin-container">
      <%= yield %>
    </div>
    <footer>
      <!-- <p><span class="btn btn-blue" id="time-container"><= render partial: 'partials/date'></span></p> -->
      with ❤️ by 42Lisboa 
    </footer>
  </body>
</html>