<!DOCTYPE html>
<html>
  <head>
    <title>Rooms42</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <meta name="description" content="Room Manager for 42Lisboa">
    <meta name="keywords" content="42Rooms, RoR, Ruby, Ruby on Rails, RoomsManager">
    <meta name="author" content="pulgamecanica">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-<%= current_user.nil? ? "light" : current_user.theme %>">
    <% if !alert.nil? || !notice.nil? %>
      <div class="alerts42-box"><span class="notice-box"><%= notice %></span><span class="alert-box"><%= alert %></span></div>
    <% end %>
    <nav class="rooms42-navbar">
      <%= link_to root_path do %><%= render 'partials/coin_api42' %><% end %>      
      <% if current_user %>
        <% if current_user.is_admin? %>
          <%= link_to home_path do %><%= render 'partials/admin' %><% end %>
        <% end %>
        <a data-controller="hello" data-action="click->hello#change_theme" onclick="changeTheme()"><%= render 'partials/theme' %></a>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %><%= render 'partials/coin_exit' %>
          <ul class="user-card">
            <li><%= current_user.role %></li>
            <li><%= current_user.login %></li>
            <li><%= current_user.email %></li>
            <li><%= current_user.campus %></li>
          </ul>
        <% end %>
      <% else %>
        <%= link_to authentication42api_path do %><%= render 'partials/coin_login' %><% end %>
      <% end %>
    </nav>
    <div class="background"><div></div></div>
    <div class="rooms42-container">
      <%= yield %>
      <footer class="center" style="margin-bottom: 1.5rem;">
        <p><span class="btn btn-blue" id="time-container"><%= render partial: 'partials/date'%></span></p>
        <p>with ❤️ by 42Lisboa</p>
      </footer>
    </div>
  </body>
</html>

<script type="text/javascript">
  function changeTheme() {
    let element = document.body.classList;
    let removed = "";
    let added = "";
    if (element[0] == "bg-dark")
    {
      removed = "bg-dark";
      added = "bg-light";
    }
    else if (element[0] == "bg-light"){
      removed = "bg-light";
      added = "bg-dark"; 
    }
    element.remove(removed);
    element.add(added)
  };
</script>