<!DOCTYPE html>
<html>
  <head>
    <title>Rooms42</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= notice %>
    <%= alert %>
    <nav id="log-in-out">
      <% if current_user %>
        <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
          <%= render 'partials/coin_exit' %>
        <% end %>
        <%= link_to root_path do %>
          <%= render 'partials/coin_api42' %>
          <ul class="user-card">
              <li><%= current_user.role %></li>
              <li><%= current_user.login %></li>
              <li><%= current_user.email %></li>
              <li><%= current_user.campus %></li>
          </ul>
          </div>
        <% end %>
      <% else %>
        <!-- <= link_to 'use 42 API', authentication42api_path unless current_user > -->
        <%= link_to authentication42api_path do %>
          <%= render 'partials/coin_login' %>
        <% end %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
